- content_for :head_css do
  = stylesheet_link_tag "email-configure"

- content_for :page_js do
  = javascript_include_tag "notify", "configure"

.form-group{"ng-app" => "configureApp", "ng-controller" => "configureController"}
  %form{:enctype => "multipart/form-data", :method => "post", action: "/email/send", name: "frmConfigure", id:"frmConfigure", novalidate: true}
    %input{type: "hidden", name: "authenticity_token", value: "#{form_authenticity_token}"}
    .control-group
      %label.control-label{for: "csv_file"} CSV
      .controls
        %input.form-control{type: "file", name: "csv_file", id: "csvFile", required: true, "fileread" => "csvFile", accept: ".csv"}
    .control-group
      %label.control-label CSV Columns
      .controls
        %ul{"ng-if" => "csvCols.length > 0"}
          %li{"ng-repeat" => "column in csvCols"}
            {{column}}
        %span{"ng-if" => "firstColNotValid()"}
          First column in not Email

        %span{"ng-if" => "csvCols.length == 0"}
          Please upload a CSV File
    .control-group
      %label.control-label{for: "template_id"} Template Id
      .controls
        %input.form-control{type: "text", name: "template_id", id: "templateId", required: true, "ng-model" => "templateId"}
    .control-group
      %label.control-label{for: "subject"} Subject
      .controls
        %input.form-control{type: "text", name: "subject", id: "subject", required: true, "ng-model" => "subject"}
    .control-group
      %label.control-label Things to Note:
      .controls
      .alert.alert-info
        %ul
          %li
            %b
              First column
            should be
            %b
              email
          %li
            %b
              Column names
            will be used as
            %b
              tags
            to replace values in the template. For example,
            %b
              "LNAME"
            column will be used to replace
            %b
              *|LNAME|*
            tag in the template
    .control-group
      .controls
        %button.btn.btn-info{type: "submit", "ng-disabled" => "isFormInvalid()"}
          Send It
          %span.glyphicon.glyphicon-send
