- content_for :head_css do
  = stylesheet_link_tag "email-configure"

- content_for :page_js do
  = javascript_include_tag "notify", "configure"

.container{"ng-app" => "configureApp", "ng-controller" => "configureController"}
  .row
    .col-md-12.cols-xs-12
      %h2.title
        Mailchimp + Mandrill =
        %img.troll{src: "/assets/troll.png"}
  .row
    .col-md-6.col-xs-12
      %form.form-group{name: "frmConfigure", id:"frmConfigure", novalidate: true, "ng-submit" => "submitForm('#{form_authenticity_token}')"}
        .control-group
          %label.control-label.required{for: "fromEmail"} From Email
          .controls
            %input.form-control{type: "email", name: "from_email", id: "fromEmail", required: true, email: true, "ng-model" => "modelObject.fromEmail", placeholder: "Sender's email address"}
        .control-group
          %label.control-label{for: "fromName"} From Name (optional)
          .controls
            %input.form-control{type: "text", name: "from_name", id: "fromName", "ng-model" => "modelObject.fromName", placeholder: "Name you want to appear in receiver's inbox"}
        .control-group
          %label.control-label.required{for: "subject"} Subject
          .controls
            %input.form-control{type: "text", name: "subject", id: "subject", required: true, "ng-model" => "modelObject.subject", placeholder: "Your email subject"}
        .control-group
          %label.control-label.required{for: "csv_file"} CSV File
          .controls
            %input.form-control{type: "file", name: "csv_file", id: "csvFile", required: true, "fileread" => "modelObject.csvFile", accept: ".csv"}
            %span.error{"ng-if" => "firstColNotValid()"}
              First column in not Email
        .control-group
          %label.control-label.required{for: "templateId"} Template Id
          .controls
            %input.form-control{type: "text", name: "template_id", id: "templateId", required: true, "ng-model" => "modelObject.templateId"}
        .control-group
          %label
            %input{type: "checkbox", "ng-model" => "notify"}
            Notify me once its done.
          %input.form-control{type: "email", "ng-model" => "modelObject.notifyEmail", name: "notify_email", "ng-show" => "notify", placeholder: "Your email address"}
        .control-group
          .controls
            %button.btn.btn-info{type: "submit", "ng-disabled" => "isFormInvalid()"}
              Send It
              %span.glyphicon.glyphicon-send
    .col-md-6.col-xs-12.note-card
      %h4 Things to Note
      .alert.alert-info
        %ul
          %li
            %b
              First column
            should be
            %b
              email
          %li
            %b
              Column names
            will be used as
            %b
              tags
            to replace values in the mailchimp template. For example,
            %b
              "LNAME"
            column will be used to replace
            %b
              *|LNAME|*
            tag in the mailchimp template
      %h4 Powered By
      %a{href: "http://cialfogroup.com"}
        %img.cialfo-logo{src: "http://cialfogroup.com/assets/cialfo-logo-new-hz.png", title: "CIALFO", target: "_blank"}
  .modal.fade#processingModal{"tab-index" => "-1", role: "dialog"}
    .modal-dialogue
      .modal-content
        .modal-body
          .in-progress{"ng-if" => "inProgress"}
            %h5
              Sit back and relax and drink some &#9749;while we send all the emails for you.
            .sending-container
              .box
                .border.one
                .border.two
                .border.three
                .border.four
                .line.one
                .line.two
                .line.three
            %h5.blue
              Sending
            .notify-row
              %span{"ng-show" => "notify && modelObject.notifyEmail != ''"} You will be notified at {{modelObject.notifyEmail}} ones all emails are sent.
              %form.form-group{name: "frmNotifyMe", "ng-show" => "!notify || modelObject.notifyEmail == ''"}
                %h6 We can notify you via email once all emails are sent
                .input-group
                  %input.form-control{type: "email", name: "notifyEmail", placeholder: "Your email id", "ng-model" => "modelObject.notifyEmail", required: true, email: true}
                  %span.input-group-btn
                    %button.btn.btn-info{type: "button", "ng-click" => "updateNotify()", "ng-disabled" => "frmNotifyMe.notifyEmail.$invalid"} Notify Me
          .completed{"ng-if" => "!inProgress"}
            %h2.green
              All Done!
            %h3.green
              {{emailSentCount}} Emails Sent
            %div
              %button.btn.btn-default{"data-dismiss" => "modal"} Close