.title{
    text-align: center;
}
.troll{
    width: 80px;
    height: 45px;
}
.form-group{
    width: 350px;
}
.form-group, .note-card{
    margin: 25px auto;
}
.control-group{
    margin-bottom: 20px;
}
.control-label.required::after{
    color: red;
    content: " *";
}
ul{
    padding-left: 10px;
}
.cialfo-logo{
    width: 150px;
    height: 55px;
}
.error{
    color: red;
}